@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/wood_pattern.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center; /* Centra horizontal */
  align-items: center;     /* Centra vertical */
  height: 100vh;           /* Ocupa toda la altura de la pantalla */
}
